.home{
    .section1{
        .top{
            height: 72px;
            font-size: 17px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: #e8e7e7;
            @media (max-width:576px) {
                text-align: center;
            }
            @media (max-width:485px) {
                padding: 10px 0;
                height: auto;
                .content:nth-child(2){
                    width: 90%;
                    margin: 0 auto;
                }
            }
            a{
                font-weight: 500;
                text-decoration: none;
                color: black;
            }
        }
        .bottom{
            width: 95%;
            margin: 0 auto;
            padding: 75px 0;
            padding-bottom: 15px;
            height: 375px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            @media (max-width:469px) {
                padding-top: 40px;
                height: auto;
            }
            h2{
                font-size: 60px;
                margin: 0;
                font-family: cooper-black-std, serif;
                font-weight: 400;
                font-style: normal;
                text-align: center;
                @media (max-width:1200px) {
                    font-size: 50px;
                }
                @media (max-width:992px) {
                    font-size: 40px;
                }
                @media (max-width:630px) {
                    font-size: 35px;
                }
                @media (max-width:480px) {
                    font-size: 29px;
                }

            }
            p{
                margin: 0;
                font-size: 24px;
                @media (max-width:576px) {
                    margin: 30px 0;
                }
                @media  (max-width:480px){
                    font-size: 20px;
                }
            }
            .button-container{
                button{
                    margin-right: 50px;
                    border: none;
                    color: white;
                    padding: 15px 25px;
                    border-radius: 30px;
                    font-size: 19px;
                    &:nth-child(1){
                        background-color: #3a3a3a;
                    }
                    &:nth-child(2){
                        background-color: #0d0d0d;
                        @media (max-width:469px) {
                            margin-top: 30px;
                        }
                    }
                }
                @media (max-width:469px) {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    button{
                        margin-right: 0;
                    }
                }
            }
        }
        @media (max-width:576px) {
            margin-bottom: 30px;
        }
    }
    .section2{
        .video-container{
            width: 100%;
            height: 640px;
            position: relative;
            overflow: hidden;
            pointer-events: none;
            .vider-banner{
                width: 100%;
                position: absolute;
                height: 300%;
                top: -100%;
                left: 0;
                pointer-events: none;
            }
            iframe{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                .ytp-chrome-top{
                    display: none;
                }
            }
            @media (max-width:1200px) {
                padding-bottom:56.25%;
                padding-top:30px;
                height:0;
                overflow:hidden;
            }
            .cover{
                position: absolute;
                left: 0;
                width: 100%;
                height: 60px;
                background-color: rgb(255, 255, 255);
                &.top{
                    top: -1px;
                }
                &.bottom{
                    bottom: -1px;
                }
                @media (max-width:576px) {
                    background-color: black;
                }
            }

        }

    }
    .section3{
        width: 95%;
        margin: 0 auto;
        @media (max-width:576px) {
            margin-top: 30px;
        }
        h3{
            margin: 50px 0;
            margin-top: 0;
            font-weight: normal;
            font-size: 25px;
        }
        .container{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .content{
                position: relative;
                width: 49%;
                img{
                    width: 100%;
                }
                .sub-content{
                    position: absolute;
                    bottom: 30px;
                    left: 30px;
                    p{
                        color: white;
                        font-size: 19px;
                    }
                    button{
                        @extend .a_btn;
                    }
                }
                @media (max-width:600px) {
                    width: 100%;
                }
            }
        }
    }
    .section4{
        width: 95%;
        margin: 0 auto;
        h3{
            margin: 50px 0;
            font-weight: normal;
            font-size: 25px;
        }
        .container{
            position: relative;
            img{
                display: block;
                width: 100%;
                min-height: 400px;
                object-fit: cover;
            }
            .content{
                position: absolute;
                top: 30px;
                left: 30px;
                color: white;
                p{
                    font-size: 19px;
                    margin: 0;
                }
                h4{
                    font-size: 54px;
                    margin-top: 0;
                    margin-bottom: 10px;
                    @media (max-width:768px) {
                        font-size: 44px;
                    }
                }
                button{
                    @extend .a_btn;
                    background-color: white;
                }
            }
        }
    }
}