.navbar{
    position: relative;
    z-index: 100;
    >.top{
        width: 100%;
        height: 45px;
        background-color: #2c2c2c;
        @media (max-width:992px) {
            display: none;
        }
        .container{
            width: 80%;
            margin: 0 auto;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            a{
                color: white;
                margin-right: .5rem;
                text-decoration: none;
                transition: all .3s;
                &:hover{
                    color: var(--a_hover_color);
                }
            }
            button{
                cursor: pointer;
                font-size: 16px;
                color: white;
                margin-right: .5rem;
                transition: all .3s;
                background-color: transparent;
                border: none;
                &:hover{
                    color: var(--a_hover_color);
                }
            }
            span{
                color: white;
                margin-right: .5rem;
            }
        }
    }
    >.nav{
        position: absolute;
        top: 45px;
        left: 0;
        width: 100%;
        height: 90px;
        background-color: rgba(255, 255, 255, 0.9);
        display: flex;
        padding: 0 60px;
        justify-content: space-between;
        align-items: center;
        z-index: 10;
        border-bottom: 1px solid #c7c7c7;
        &.fixed{
            position: fixed;
            top: 0;
        }
        @media (max-width:1080px) {
            padding: 0 0 0 15px;
        }
        @media (max-width:992px) {
            position: fixed;
            top: 0;  
        }
        >.filter{
            filter: blur(5px);
            width: 100%;
            height: 100%;
        }
        >.mid-container{
            width: 50%;
            margin: 0 auto;
            display: flex;
            justify-content: space-between;
            height: 100%;
            >.content{
                line-height: 90px;
                height: 100%;
                text-align: center;
                font-weight: 400;
                .list{
                    z-index: 2;
                    position: absolute;
                    top: 90px;
                    left: 0;
                    width: 100%;
                    background-color: rgba(255, 255, 255, 0.9);
                    transition: all .3s;
                    font-weight: 500;
                    pointer-events: none;
                    opacity: 0;
                    font-size: 18px;
                    text-align: left;
                    .list-container{
                        display: flex;
                        width: 75%;
                        margin: 0 auto;
                        justify-content: space-between;
                        @media (max-width:1200px) {
                            width: 85%;
                        }
                        .list-content{
                            width: 50%;
                            padding-left: 50px;
                            padding-bottom: 30px;
                            @media (max-width:1200px) {
                                padding-left: 20px;
                            }
                        }
                        .title{
                            cursor: default;
                            line-height: normal;
                        }
                        .a-content{
                            display: flex;
                            flex-direction: column;
                            line-height: 45px;
                        }
                        a{
                            margin: 5px 0;
                            line-height: normal;
                            text-decoration: none;
                            color: #848484;
                            font-weight: 300;
                            &:hover{
                                color: var(--a_hover_color);
                            }
                        }
                    }
                    &.active{
                        opacity: 1;
                        pointer-events: auto;
                    }
                }
            }
            @media (max-width:992px) {
                display: block;
                position: fixed;
                top: 0;
                right: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                pointer-events: none;
                transition: all .3s;                    
                backdrop-filter: blur(4px);
                background-color: rgba(0, 0, 0, 0.5);
                .cover{
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                }
                &.mb_active{
                    pointer-events: visible;
                    opacity: 1;
                }
                .content-container{
                    width: 45%;
                    margin-left: auto;
                    height: 100%;
                    background-color: white;
                    position: relative;
                    z-index: 2;
                    overflow: hidden;
                    transition: all .3s;
                    transform: translate3d(100%,0,0);
                    
                    &.active{
                        transform: translate3d(0,0,0);
                    }
                    .sub-content-container{
                        width: 100%;
                        display: flex;
                        justify-content: space-evenly;
                        flex-direction: column;
                        height: 100%;
                        transition: all .3s;
                        .bottom-container{
                            margin-bottom: 20px;
                            .icon-flow-container{
                                width: 75%;
                                margin: 0 auto;
                                display: flex;
                                flex-wrap: wrap;
                                justify-content: space-between;
                                .img-container{
                                    width: 47%;
                                    text-align: center;
                                    border-radius: 24px;
                                    margin-top: 15px;
                                    background-color: black;
                                    padding: 10px 0;
                                    i{
                                        font-size: 30px;
                                        color: white;
                                    }
                                    @media (max-width:576px) {
                                        padding: 5px 0;
                                        i{
                                            font-size: 20px;}
                                    }
                                }
                            }
                            .a-container{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 75%;
                                margin: 0 auto;
                                
                                font-size: 18px;
                                a{
                                    color: black;
                                    line-height: 40px;
                                    @media (max-width:576px) {
                                        line-height: 30px;
                                    }
                                    &:hover{
                                        color: var(--a_hover_color);
                                    }
                                }
                            }
                        }

                        .btn-container{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            height: 80px;
                            button{
                                background-color: white;
                                border: 1px solid rgba(136, 136, 136, 0.644);
                                border-radius: 24px;
                                padding: 10px 5px;
                                width: 100px;
                                font-size: 20px;
                                &:active{
                                    background-color: black;
                                    color: white;
                                }
                            }
                        }

                        hr{
                            width: 85%;
                            margin: 0 auto;
                        }
                        .sub-sub-container{
                            width: 75%;
                            margin: 0 auto;
                            flex-grow: 1;
                            user-select: none;
                            overflow-y: scroll;
                            >.content{
                                width: 100%;
                                display: flex;
                                justify-content: space-between;
                                font-size: 24px;
                                margin: 20px 0;
                                font-weight: 400;
                                transition: all .3s;
                                .list{  
                                    transform: translate3d(200%,0,0);
                                    position: absolute;
                                    top: 0;
                                    left: 0;
                                    height: 100%;
                                    width: 100%;
                                    transition: all .3s;
                                    pointer-events: auto;
                                    .main-list-container{
                                        width: 75%;
                                        margin: 0 auto;
                                        .back{
                                            margin: 0;
                                            margin-top: 18px;
                                            text-align: start;
                                            user-select: none;
                                            span{
                                                color: black;
                                            }
                                        }
                                        .title{
                                            margin: 20px 0;
                                            font-size: 28px;
                                            font-weight: 500;
                                            line-height: normal;
                                        }
                                        .list-container{
                                            height: 80vh;
                                            overflow-y: scroll;
                                            .list-content{
                                                display: flex;
                                                justify-content: 
                                                space-between;
                                                align-items: center;
                                                height: 50px;
                                                font-weight: 300;
                                                p{
                                                    margin: 0;
                                                    color: #acacac;
                                                }
                                                span{
                                                    color: #acacac;
                                                }
                                                .a-content{
                                                    display: flex;
                                                    flex-direction: column;
                                                }
                                                a{
                                                    margin: 15px 0;
                                                    line-height: normal;
                                                    text-decoration: none;
                                                    color: #848484;
                                                }
                                                .a-content{
                                                    position: absolute;
                                                    top: 0;
                                                    left: 0;
                                                    height: 100%;
                                                    width: 100%;
                                                    transition: all .3s;
                                                    transform: translate3d(200%,0,0);
                                                    &.active{
                                                        transform: translate3d(100%,0,0);
                                                    }
                                                    .a-content-container{
                                                        display: flex;
                                                        flex-direction: column;
                                                        width: 75%;
                                                        margin: 0 auto;
                                                        margin-top: 18px;
                                                        .back{
                                                            color: black;
                                                        }
                                                        .title{
                                                            color: black;
                                                            font-size: 28px;
                                                            margin: 20px 0;
                                                        }
                                                        .list-a-container{
                                                            display: flex;
                                                            flex-direction: column;
                                                            height: 80vh;
                                                            overflow-y: scroll;
                                                            a{
                                                                font-size: 20px;
                                                                line-height: 30px;
                                                                @media (max-width:576px) {
                                                                    font-size: 16px;
                                                                }
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.active{
                                        transform: translate3d(100%,0,0);
                                        &.next{
                                            transform: translate3d(0,0,0);
                                        }
                                    }

                                }
                                &.active{
                                }
                                @media (max-width:576px) {
                                    font-size: 18px;
                                }
                            }
                        }
                        &.tran{
                            transform: translate3d(-100%,0,0);
                        }
                    }
                    @media (max-width:576px) {
                        width: 75%;
                        .sub-sub-container{

                        }
                    }
                }
            }

            span{
                text-decoration: none;
                color: black;
                transition: all .3s;
                cursor: default;
            }
        }

        >.right-container{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media (max-width:992px) {
            }
            button{
                border: none;
                background-color: transparent;
                cursor: pointer;
            }
            input{
                width: 0;
                transition: all .2s;
                border: none;
                outline: none;
                background-color: transparent;
            }
            .btn-container{
                transition: all .2s;
                border-radius: 24px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                @media (max-width:576px) {
                    display: none;
                }
                &.active{
                    background-color: #e9e9e9;
                    input{
                        background-color: #e9e9e9;
                        transition: all .2s;
                        opacity: 1;
                        width: 150px;
                        border-radius: 24px;
                    }
                }

            }
            .content{
                width: 64px;
                height: 41px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px 10px;
                img{
                    display: block;
                }
                @media (max-width:992px) {
                    display: none;
                }
            }
            >.mb-menu{
                display: none;
                @media (max-width:992px) {
                    display: block;
                    font-size: 27px;
                    width: 64px;
                    height: 64px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 5px 10px;
                    transition: all .3s;
                    border-radius: 50%;
                    &:hover{
                        background-color: #E5E5E5;
                    }
                }
            }
        }
    }
}